<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="CloseConsoleOnCompletion" value="true"/>
    <add key="SiteName" value="TR"/>
    
   
    <!-- Sandbox Credentials -->
    <add key="SalesForceUsername" value="belkbot@gmail.com.uat" />
    <add key="SalesForcePassword" value="Is@bell@1" />
    <add key="SalesForceSecurityToken" value="iH7tSyfIWB6X4bQRGcwhsxjJe" />
    <!-- Production Credentials -->
    <!--<add key="SalesForceUsername" value="mbelk@gmail.com"/>
    <add key="SalesForcePassword" value="O0eNEExYwa2s"/>
    <add key="SalesForceSecurityToken" value="Ez6k9KS1SM1Aqc7622SzvgAaL"/>-->  
    
    <add key="toEmail" value="belkbot@gmail.com"/>
  </appSettings>
  <connectionStrings>
    
    <add name="ITCStagingDbConn" connectionString="Data Source=LAPTOP-DDBFI1HG;Initial Catalog=SalesforceStaging;Persist Security Info=True;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
    <add name="SytelineDbConn" connectionString="Data Source=LAPTOP-DDBFI1HG;Initial Catalog=TR_App;Persist Security Info=True;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
    
   <!--<add name="ITCStagingDbConn" connectionString="Data Source=192.168.6.2;Initial Catalog=SalesforceStaging;Persist Security Info=True;User ID=idletools;Password=P@ssw0rd" providerName="System.Data.SqlClient" />
    <add name="SytelineDbConn" connectionString="Data Source=192.168.6.2;Initial Catalog=TR_App;Persist Security Info=True;User ID=idletools;Password=P@ssw0rd" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="SoapBinding" maxReceivedMessageSize="20000000"
                 maxBufferSize="20000000"
                 maxBufferPoolSize="20000000">
          <security mode="Transport" />
          <readerQuotas maxDepth="32"
         maxArrayLength="200000000"
         maxStringContentLength="200000000"/>
        </binding>
        <binding name="SoapBinding1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://test.salesforce.com/services/Soap/u/42.0"
          binding="basicHttpBinding" bindingConfiguration="SoapBinding"
          contract="SfdcPartnerApi.Soap" name="Soap" />
      <!--<endpoint address="https://login.salesforce.com/services/Soap/u/42.0"
         binding="basicHttpBinding" bindingConfiguration="SoapBinding"
         contract="SfdcPartnerApi.Soap" name="Soap" />-->
    </client>
  </system.serviceModel>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>